*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.main {
    background: #60a3bc;
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 10% 15% 5% 15%;

    .login {
        height: 100%;
        width: 500px;
        margin-top: auto;
        margin-bottom: auto;
        margin: auto;
        background: #f39c12;
        position: relative;

        .circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: #60a3bc;
            left: 50%;
            margin-left: -75px;
            margin-top: -75px;
            position: absolute;
            &:after {
                content: '';
                width: 90%;
                height: 90%;
                position: absolute;
                background: red;
                border-radius: 50%;
                border: 2px solid #fff;
                left: 50%;
                margin-left: -45%;
            }
        }

        .form {
            position: absolute;
            margin: auto;
            margin-top: 30%;
            margin-left: -25%;
            left: 50%;
            width: 50%;
        }


    }
}
